Agregar el archivo de tu pais: Pais.csv
Generar una librería que incluya las siguientes funciones personalizadas:
a) Carga de archivos (csv, xlsx, html y json) a dataframes .
b) Sustitución de valores nulos con el método de “ffill” (Para todas las variables).
c) Sustitución de valores nulos con el método de “bfill” (Para todas las variables).
d) Sustitución de valores nulos con el método por un “string concreto” (Solo para variables String).
e) Sustitución de valores nulos con el método de “promedio” (Solo para variables Numéricas).
f) Sustitución de valores nulos con el método de “mediana” (Solo para variables Numéricas).
g) Sustitución de valores nulos con el método de “constante” (Solo para variables Numéricas).
i) Identificación de valores nulos por columna y por dataframe” (Para todas las variables).

In [4]:
# Importamos librerías estándar
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

# Importamos nuestra librería
import Ania

# CARGA DE ARCHIVO DE PRUEBA
df = Ania.cargar_dataset("listings.csv")

print("Primeras filas del archivo")
print(df.head())

# IDENTIFICACIÓN DE NULOS  i)
print("Nulos por columna y total DENTIFICACIÓN DE NULOS  i)")
print(Ania.identificar_nulos(df))

# LIMPIEZA DE NULOS - FFILL b
df_ffill = Ania.nulos_ffill(df)
print("Nulos después de aplicar ffill LIMPIEZA DE NULOS - FFILL b")
print(df_ffill.isnull().sum())

# LIMPIEZA DE NULOS - BFILL c
df_bfill = Ania.nulos_bfill(df)
print("Nulos después de aplicar bfill LIMPIEZA DE NULOS - BFILL c")
print(df_bfill.isnull().sum())

# LIMPIEZA DE NULOS - STRING CONCRETO d
df_string = Ania.nulos_string(df, valor="SIN DATO")
print("Nulos después de aplicar string concreto  LIMPIEZA DE NULOS - STRING CONCRETO d")
print(df_string.isnull().sum())

# LIMPIEZA DE NULOS - PROMEDIO e
df_prom = Ania.nulos_prom_df(df)
print("Nulos después de aplicar promedio LIMPIEZA DE NULOS - PROMEDIO e")
print(df_prom.isnull().sum())

# LIMPIEZA DE NULOS - MEDIANA f
df_median = Ania.nulos_median_df(df)
print("Nulos después de aplicar mediana LIMPIEZA DE NULOS - MEDIANA f")
print(df_median.isnull().sum())

# LIMPIEZA DE NULOS - CONSTANTE g
df_constante = Ania.nulos_constante_df(df, constante=999)
print("Nulos después de aplicar constante LIMPIEZA DE NULOS - CONSTANTE g")
print(df_constante.isnull().sum())

string = Ania.string(df)
print("string")
print(string.isnull().sum())

Primeras filas del archivo
      id                         listing_url       scrape_id last_scraped  \
0   8521   https://www.airbnb.com/rooms/8521  20250625193454   2025-06-26
1  11169  https://www.airbnb.com/rooms/11169  20250625193454   2025-06-27
2  19581  https://www.airbnb.com/rooms/19581  20250625193454   2025-06-26
3  27498  https://www.airbnb.com/rooms/27498  20250625193454   2025-06-27
4  79762  https://www.airbnb.com/rooms/79762  20250625193454   2025-06-26

        source                                              name  \
0  city scrape  SunsplashedSerenity walk to Harvard & Fresh Pond
1  city scrape     Lovely Studio Room: Available for long w/ends
2  city scrape                          Furnished suite, Windsor
3  city scrape                   Furnished suite 2 @ the Windsor
4  city scrape                 Cambridge Getaway @ Harvard & MIT

                                         description  \
0  An elegant, sun-splashed, 2 bedroom (+2offices...
1  Large sunny room w kitchenette & bath. Foam ma...
2  Welcome to Area IV! We are located, convenient...
3  Welcome to Area IV! We are located, convenient...
4  Charming 2-bedroom apartment on the third floo...

                               neighborhood_overview  \
0  Huron Village is known for its charm.  We have...
1  The neighborhood is quiet and friendly and our...
2                                                NaN
3                                                NaN
4  Annmarie and I have lived in this area for ove...

                                         picture_url  host_id  ...  \
0  https://a0.muscache.com/pictures/30536/072e0a5...   306681  ...
1  https://a0.muscache.com/pictures/miso/Hosting-...    40965  ...
2  https://a0.muscache.com/pictures/188f1b4b-f37b...    74249  ...
3  https://a0.muscache.com/pictures/bab30c3c-ff3c...    74249  ...
4  https://a0.muscache.com/pictures/airflow/Hosti...   430015  ...

  review_scores_communication review_scores_location review_scores_value  \
0                        4.92                   4.93                4.74
1                        4.92                   4.79                4.77
2                        4.90                   4.90                4.30
3                        4.76                   4.88                4.64
4                        4.93                   4.93                4.76

       license instant_bookable calculated_host_listings_count  \
0  C0121120491                f                              2
1          NaN                f                              3
2          NaN                t                              3
3          NaN                t                              3
4    STR-15661                f                              1

  calculated_host_listings_count_entire_homes  \
0                                           2
1                                           1
2                                           0
3                                           0
4                                           1

  calculated_host_listings_count_private_rooms  \
0                                            0
1                                            2
2                                            3
3                                            3
4                                            0

  calculated_host_listings_count_shared_rooms reviews_per_month
0                                           0              0.41
1                                           0              1.02
2                                           0              0.06
3                                           0              0.15
4                                           0              2.58

[5 rows x 79 columns]
Nulos por columna y total DENTIFICACIÓN DE NULOS  i)

(                                              Nulos  Porcentaje
id                                                0        0.00
listing_url                                       0        0.00
scrape_id                                         0        0.00
last_scraped                                      0        0.00
source                                            0        0.00
...                                             ...         ...
calculated_host_listings_count                    0        0.00
calculated_host_listings_count_entire_homes       0        0.00
calculated_host_listings_count_private_rooms      0        0.00
calculated_host_listings_count_shared_rooms       0        0.00
reviews_per_month                               336       24.44

[79 rows x 2 columns], 'Total de valores nulos 11157')
Nulos después de aplicar ffill LIMPIEZA DE NULOS - FFILL b
id                                              0
listing_url                                     0
scrape_id                                       0
last_scraped                                    0
source                                          0
                                               ..
calculated_host_listings_count                  0
calculated_host_listings_count_entire_homes     0
calculated_host_listings_count_private_rooms    0
calculated_host_listings_count_shared_rooms     0
reviews_per_month                               0
Length: 79, dtype: int64
Nulos después de aplicar bfill LIMPIEZA DE NULOS - BFILL c
id                                              0
listing_url                                     0
scrape_id                                       0
last_scraped                                    0
source                                          0
                                               ..
calculated_host_listings_count                  0
calculated_host_listings_count_entire_homes     0
calculated_host_listings_count_private_rooms    0
calculated_host_listings_count_shared_rooms     0
reviews_per_month                               4
Length: 79, dtype: int64
Nulos después de aplicar string concreto  LIMPIEZA DE NULOS - STRING CONCRETO d
id                                                0
listing_url                                       0
scrape_id                                         0
last_scraped                                      0
source                                            0
                                               ...
calculated_host_listings_count                    0
calculated_host_listings_count_entire_homes       0
calculated_host_listings_count_private_rooms      0
calculated_host_listings_count_shared_rooms       0
reviews_per_month                               336
Length: 79, dtype: int64
Nulos después de aplicar promedio LIMPIEZA DE NULOS - PROMEDIO e
id                                              0
listing_url                                     0
scrape_id                                       0
last_scraped                                    0
source                                          0
                                               ..
calculated_host_listings_count                  0
calculated_host_listings_count_entire_homes     0
calculated_host_listings_count_private_rooms    0
calculated_host_listings_count_shared_rooms     0
reviews_per_month                               0
Length: 79, dtype: int64
Nulos después de aplicar mediana LIMPIEZA DE NULOS - MEDIANA f
id                                              0
listing_url                                     0
scrape_id                                       0
last_scraped                                    0
source                                          0
                                               ..
calculated_host_listings_count                  0
calculated_host_listings_count_entire_homes     0
calculated_host_listings_count_private_rooms    0
calculated_host_listings_count_shared_rooms     0
reviews_per_month                               0
Length: 79, dtype: int64
Nulos después de aplicar constante LIMPIEZA DE NULOS - CONSTANTE g
id                                              0
listing_url                                     0
scrape_id                                       0
last_scraped                                    0
source                                          0
                                               ..
calculated_host_listings_count                  0
calculated_host_listings_count_entire_homes     0
calculated_host_listings_count_private_rooms    0
calculated_host_listings_count_shared_rooms     0
reviews_per_month                               0
Length: 79, dtype: int64
string
0

/Users/aniadiazpeyrot/Desktop/Analitica/Prof. Alfredo/act8/Ania.py:23: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  return df.fillna(method="ffill")
/Users/aniadiazpeyrot/Desktop/Analitica/Prof. Alfredo/act8/Ania.py:27: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  return df.fillna(method="bfill")
/opt/anaconda3/envs/Analitica/lib/python3.12/site-packages/numpy/lib/_nanfunctions_impl.py:1214: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/opt/anaconda3/envs/Analitica/lib/python3.12/site-packages/numpy/lib/_nanfunctions_impl.py:1214: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)

In [5]:
df_ffill.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1375 entries, 0 to 1374
Data columns (total 79 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            1375 non-null   int64
 1   listing_url                                   1375 non-null   object
 2   scrape_id                                     1375 non-null   int64
 3   last_scraped                                  1375 non-null   object
 4   source                                        1375 non-null   object
 5   name                                          1375 non-null   object
 6   description                                   1375 non-null   object
 7   neighborhood_overview                         1375 non-null   object
 8   picture_url                                   1375 non-null   object
 9   host_id                                       1375 non-null   int64
 10  host_url                                      1375 non-null   object
 11  host_name                                     1375 non-null   object
 12  host_since                                    1375 non-null   object
 13  host_location                                 1375 non-null   object
 14  host_about                                    1375 non-null   object
 15  host_response_time                            1375 non-null   object
 16  host_response_rate                            1375 non-null   object
 17  host_acceptance_rate                          1375 non-null   object
 18  host_is_superhost                             1375 non-null   object
 19  host_thumbnail_url                            1375 non-null   object
 20  host_picture_url                              1375 non-null   object
 21  host_neighbourhood                            1375 non-null   object
 22  host_listings_count                           1375 non-null   float64
 23  host_total_listings_count                     1375 non-null   float64
 24  host_verifications                            1375 non-null   object
 25  host_has_profile_pic                          1375 non-null   object
 26  host_identity_verified                        1375 non-null   object
 27  neighbourhood                                 1375 non-null   object
 28  neighbourhood_cleansed                        1375 non-null   object
 29  neighbourhood_group_cleansed                  0 non-null      float64
 30  latitude                                      1375 non-null   float64
 31  longitude                                     1375 non-null   float64
 32  property_type                                 1375 non-null   object
 33  room_type                                     1375 non-null   object
 34  accommodates                                  1375 non-null   int64
 35  bathrooms                                     1375 non-null   float64
 36  bathrooms_text                                1375 non-null   object
 37  bedrooms                                      1375 non-null   float64
 38  beds                                          1375 non-null   float64
 39  amenities                                     1375 non-null   object
 40  price                                         1375 non-null   object
 41  minimum_nights                                1375 non-null   int64
 42  maximum_nights                                1375 non-null   int64
 43  minimum_minimum_nights                        1375 non-null   float64
 44  maximum_minimum_nights                        1375 non-null   float64
 45  minimum_maximum_nights                        1375 non-null   float64
 46  maximum_maximum_nights                        1375 non-null   float64
 47  minimum_nights_avg_ntm                        1375 non-null   float64
 48  maximum_nights_avg_ntm                        1375 non-null   float64
 49  calendar_updated                              0 non-null      float64
 50  has_availability                              1375 non-null   object
 51  availability_30                               1375 non-null   int64
 52  availability_60                               1375 non-null   int64
 53  availability_90                               1375 non-null   int64
 54  availability_365                              1375 non-null   int64
 55  calendar_last_scraped                         1375 non-null   object
 56  number_of_reviews                             1375 non-null   int64
 57  number_of_reviews_ltm                         1375 non-null   int64
 58  number_of_reviews_l30d                        1375 non-null   int64
 59  availability_eoy                              1375 non-null   int64
 60  number_of_reviews_ly                          1375 non-null   int64
 61  estimated_occupancy_l365d                     1375 non-null   int64
 62  estimated_revenue_l365d                       1375 non-null   float64
 63  first_review                                  1375 non-null   object
 64  last_review                                   1375 non-null   object
 65  review_scores_rating                          1375 non-null   float64
 66  review_scores_accuracy                        1375 non-null   float64
 67  review_scores_cleanliness                     1375 non-null   float64
 68  review_scores_checkin                         1375 non-null   float64
 69  review_scores_communication                   1375 non-null   float64
 70  review_scores_location                        1375 non-null   float64
 71  review_scores_value                           1375 non-null   float64
 72  license                                       1375 non-null   object
 73  instant_bookable                              1375 non-null   object
 74  calculated_host_listings_count                1375 non-null   int64
 75  calculated_host_listings_count_entire_homes   1375 non-null   int64
 76  calculated_host_listings_count_private_rooms  1375 non-null   int64
 77  calculated_host_listings_count_shared_rooms   1375 non-null   int64
 78  reviews_per_month                             1375 non-null   float64
dtypes: float64(24), int64(20), object(35)
memory usage: 848.8+ KB